@media screen and (max-width: 700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }

    main .descricao{
       width: 100%; 
    }

}

@media screen and (min-width: 100px){
    .descricao{
        width: 50%;
    }
}
